*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans',sans-serif;
}
body,html{
  height: 100%;
  width: 100%;
  position: relative;
}
header{
  height: 72px;
  width: 100%;
  position: relative;
  /* border-bottom: 2px solid black; */
}
header img{
  width: 162.57px;
  height: 24px;
  position: absolute;
  top: 24px;
  left: 72px;
}
header input{
  position: absolute;
  width: 360px;
  height: 42px;
  top: 16px;
  left: 540px;
  border-radius: 21px;
  border: none;
  padding-left: 55px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  background-color:  rgba(242, 242, 242, 1);
}
#vector{
  position: relative;   
  width: 15px;
  height: 15px;
  top: 5px;
  left: 490px;
  color:  rgba(92, 92, 92, 1);
  font-weight: 500;
}
#vector img{
  position: absolute;
 height: 100%;
 width: 100%;
}
/* header p{
  position: absolute;
  width: 183px;
  height: 21px;
  top: 27px;
  left: 1161px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  color:  rgba(46, 46, 46, 1);
}
header p span{
  color:  rgba(47, 108, 229, 1);
  position: relative;
} */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 25px;
  left: 1200px;
  
}
.dropbtn{
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 800;
}
.dropbtn span{
  color: #2F6CE5;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#image1{
  position: absolute;
  width: 100%;
  height: 440px;
  top: 72px;
  /* object-fit: cover; */
}
#image1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#image1 h1{
  position: absolute;
  width: 378px;
  height: 47px;
  top: 290px;
  left: 243px;
  color: white;
}
#image1 h4{
  position: absolute;
  width: 327px;
  height: 23px;
  top: 338px;
  left: 243px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;

}
.links{
  position: absolute;
  height: 90px;
  width: 1050px;
  top: 510px;
  left: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(156, 156, 156);
}
#left-centric{
  display: flex;
  color: black;
  gap: 15px;
  /* margin-left: 35px; */
}
.right-centric button{
  padding: 10px 20px;
  /* margin-right: 30px; */
}
.right-centric #Post{
  color:black;
  font-weight: 800;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}
#Join{
  background-color: rgba(34, 88, 249, 0.855);
  color: white;
  border: none;
  border-radius: 10px;
}
.right-centric select{
  border: none;
  background-color: transparent;
}
.container{
  position: absolute;
  top: 620px;
  width: 48%;
  height: 470px;
  margin-left:240px ;
  border: 0.1px solid rgba(92, 92, 92, 1);
}
#box1{
  height: 200px;
  width: 100%;
}
#box1 img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center;
}
#box2{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: 800;
  position: relative;
}
#box2 img{
  position: absolute;
  left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  top: 30px;
}

#box3{
  height: 90px;
  display: flex;
  align-items: center;
  font-weight: 800;
}
#box3 p{
  margin-left: 20px;
  width: 80%;
  font-size: 25px;
  margin-top: 10px;
}
#box3 i{
  position: absolute;
  top: 260px;
  left: 650px;
}
#box4 {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
#box4 p{
  margin-left: 20px;
  font-size: 20px;
  color: rgba(92, 92, 92, 1);
}
#box5{
  display: flex;
  height: 120px;
  align-items: center;
  position: relative;
}
#box5 #person{
  position: absolute;
  left:20px ;
}
#box5 #name{
  position: absolute;
  left: 90px;
}
#box5 #eye{
  position: absolute;
  left: 500px;
  /* top: 32px; */
  font-size: 20px;
}
#box5 #view{
  position: absolute;
  left: 525px;
  font-size: 20px;
}
#box5 #share{
  position: absolute;
  left: 680px;
  font-size: 20px;
}
#container2{
  position: absolute;
  top: 1110px;
}
#container3{
  position: absolute;
  top: 1600px;
  height: 560px;
}
#extrabox1{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
}
#extrabox1 #calender{
  position: absolute;
  left: 20px;
}
#extrabox1 #date{
  position: absolute;
  left: 42px;
}
#extrabox1 #location{
  position: absolute;
  left: 200px;
}
#extrabox1 #place{
  position: absolute;
  left:215px ;
}
#extrabox2{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  margin-left: 20px;
  margin-right: 20px;
  border: 1px dashed black;
  border-radius: 10px;
  margin-top: 10px;
  color: red;
  font-weight: 800;
}
#container3 #box5{
  height: 100px;
}
#container4{
  position:absolute;
  top: 2180px;
  height: 372px;
}
#container4 #box1{
  display: none;
}
#container4 #extrabox2{
  color: rgba(40, 214, 40, 0.793);
}
#box{
  height: 80px;
  width: 240px;
  position: absolute;
  top: 618px;
  left: 1055px;
}
#address{
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
#address input{
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  font-weight: 800;
}
#edit{
  position: absolute;
  left: 220px;
}
#info{
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-top: 16px;
}
#info p{
  padding-left: 10px;
  color: rgba(92, 92, 92, 1);;
}
.popup{
  height: 32.5vw;
  width: 50vw;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgba(92, 92, 92, 1);
  position: fixed;
  display: none;
}
/* .dropdown-content button{
  display: flex;
  background-color: transparent;
  font-size: 14px;
  height: 20px;
  width: 100%;
  align-items: start;
  /* border: none; */
/* } */ 
#head{
  height: 4vw;
  width: 100%;
  background-color: rgb(232, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxer{
  height: 5vw;
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
}
/* #head p{
  display: flex;
  justify-content: center;
} */
.credits{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 6vw;
  width: 50%;
  /* background-color: brown; */
  padding: 1vw;
}
.credits input{
  width: 100%;
  height: 2vw;
  padding: 1.4vw 1vw;
  margin: -1px;
}
.Signin{
  height:5vw ;
  width: 50%;
  /* background-color:crimson; */
  display: flex;
  align-items: center;
  padding: 1vw;
  /* justify-content: center; */
}
.Signin button{
  height: 2.7vw;
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #2F6CE5;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.fang{
  height:3vw;
  width: 46%;
  /* background-color: pink; */
  margin-left: 1vw;
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(92, 92, 92, 1);
  
}
.fang p{
  padding: 6px;
  font-size: 14px;
}
#Forgot{
  margin-left: 8.5vw;
  margin-top: 1vw;
}
#sign{
  position: absolute;
  top: 9vw;
  left: 27vw;
}
#arrow{
  font-weight: 900;
  position: absolute;
  left: 1345px;
  top: 28px;
  border: none;
  color: rgba(46, 46, 46, 1); 
}
#cancel{
  position: absolute;
  top: -35px;
  left: 745px;
}
.popup2{
  height: 36vw;
  width: 50vw;
  background-color: white;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgba(92, 92, 92, 1);
  position: fixed;
  display: none;
}
.credits2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 11vw;
  width: 55%;
  /* background-color: brown; */
  padding: 3vw;
  position: relative;
}
.credits2 input{
  padding: 0.7vw ;
  width: 100.5%;
  margin: -1px;
}
#insides{
  display: flex;
}
#insides input{
  width: 100%;
}
.boxer2{
  height: 5vw;
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-between;
  padding: 3vw;
}
.Signin2{
  height:5vw ;
  width: 56%;
  /* background-color:crimson; */
  display: flex;
  align-items: center;
  padding: 3vw;
  /* justify-content: center; */
}
.Signin2 button{
  height: 2.7vw;
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #2F6CE5;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.fang2{
  height:3vw;
  width: 44%;
  /* background-color: pink; */
  margin-left: 3vw;
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(92, 92, 92, 1);
  
}
.fang2 p{
  padding: 6px;
  font-size: 14px;
}
.boxer2 span{
  color: #2F6CE5;
}
.special2{
  position: absolute;
  left: 30vw;
  top: 11vw;
}
#sign2{
  position: absolute;
  left: 450px;
  top: 190px;
  height: 250px;
  width: 250px;
}
#last{
  position: absolute;
  left: 450px;
  top: 425px;
  height: 250px;
  width: 250px;
  font-size: 12px;
  text-align: center;
}
#cancel2{
  position: absolute;
  top: -35px;
  left: 745px;
}